/* .apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px auto; 
    width: 100%; 
}

.apropos img {
    width: 607px;
    height: 488px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 5px;
}

.apropos h4 {
    margin: 20px 0; 
    padding-left: 645px; 
    color: #FF5800; 
    align-self: flex-start;
}

.apropos p {
    text-align: justify;
    width: 607px;
    line-height: 1.6;
    margin: 10px 0;

}

.apropos button {
    margin: 50px auto;
    background-color: black; 
    text-align: center;
    border-radius: 50px;
    color: white;
    background-color: black;
    width: 150px;
    height: 57px;
    font-size: 1.5rem;
    text-decoration: none;
} 

@media screen and (max-width: 1180px) {
    .apropos h4  {
        margin: 20px 0; 
        padding-left: 20px; 
        color: #FF5800; 
        align-self: center;
    }

}



@media screen and (max-width: 1024px) {
    .apropos h4  {
        margin: 20px 0; 
        padding-left: 78px; 
        color: #FF5800; 
        align-self: flex-start;
    }

} 

@media screen and (max-width: 932px) {
    .apropos {
        margin: 25px auto;
    }

    .apropos img {
        width: 90%;
        height: 409px;
    }

    .apropos p {
        text-align: justify;
        width: 90%;
        line-height: 1.6;
    }

    .apropos h4 {
        margin: 20px 0; 
        padding-left: 22px; 
        color: #FF5800; 
        align-self: flex-start;
    }


}

@media screen and (max-width: 844px) {
    
    .apropos img {
        width: 85%;
        height: 390px;
    }

    .apropos p {
        text-align: justify;
        width: 85%;
        line-height: 1.6;
    }

    .apropos h4 {
        margin: 20px 0; 
        padding-left: 29px; 
        color: #FF5800; 
        align-self: flex-start;
    }

} 

@media screen and (min-width: 1024px) and (max-width: 1368) {

    .apropos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .apropos h4  {
        display: none; 
    }

} */

.apropos {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 100px 100px;
}

.apropos-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.apropos-content img {
    grid-column: 4 / 10;
    width: 100%;
    height: 488px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 5px;
} 

.apropos-content > * {
    grid-column: 4 / 10;
}

.apropos-content p {
    text-align: justify;
    line-height: 1.6;
}

.apropos h4 {
    color: #ff5800; 
}
.apropos-content button {
    margin-top: 50px;
    justify-self: center;
}



@media (max-width: 1400px) {

    .apropos {
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin: 100px 20px;
    }

    .apropos-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .apropos-content img {
        grid-column: 1 / -1;
    }

    .apropos-content > * {
        grid-column: 1 / -1;
    }

    .apropos-content p {
        line-height: 1..6;
        font-size: 16px;
    }
}