.pdc--container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 60px;
}

.pdc--content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.pdc h2 {
    text-align: left;
}

.pdc--content > * {
   grid-column: 4 /10;
   text-align: justify; 
}

.pdc p {
    line-height: 1.6;
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {

    .pdc--content {
        margin-top: 20px;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px; 
    }

    .pdc--content > * {
        grid-column: 1 / -1;
        margin: auto 25px; 
        gap: 20px; 
    }

    .pdc p {
        line-height: 2;
        font-size: 1.2rem;
    }
}