.article--section {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px; 
}

.articles--image, .articles--content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 100px;
}

.article--image {
    grid-column: 2 / 12;
    width: 90vw;
    height: 600px;
    object-fit: cover;
    margin: 50px; 
    border-radius: 10px;
}

.articles--content > * {
    grid-column: 4 / 10;
}

.articles--content img {
    width: 50vw;
    height: 400px;
    object-fit: cover;
    margin: 30px auto;
    border-radius: 10px; 
}

.article--section p {
    text-align: justify; 
    line-height: 1.6;
    font-size: 16px;
}

.article--review {
    align-self: end;
    justify-self: end;
    margin: 20px 0px;
    white-space: nowrap; 
} 

.articles--content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.articles--content h2 {
    font-size: 1.7rem;
    font-weight: normal;
}

.articles--content h3, 
.articles--content h4, 
.articles--content h5, 
.articles--content h6 {
    font-size: 1.4rem;
    font-weight: 500;
}

@media (max-width: 1024px) {

    .articles--image, .articles--content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .article--image {
        grid-column: 1 / -1;
        width: 90vw;
        height: 400px;
        object-fit: cover;
        margin-top: 50px;
        margin-bottom: 10px; 
        border-radius: 10px;
    }
    
    .articles--content > * {
        grid-column: 1 / -1;
        margin: auto 25px;  
    }
    
    .articles--content img {
        width: 77vw;
        height: 400px;
        object-fit: cover;
        margin: 30px auto;
        border-radius: 10px; 
    }

    .articles--content h1 {
        font-size: 1.4rem;
        font-weight: 800;
    }

    .articles--content h2 {
        font-size: 1.2rem;
        font-weight: normal;
    }
    
    .articles--content h3, 
    .articles--content h4, 
    .articles--content h5, 
    .articles--content h6 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .article--section p {
        text-align: justify;
        font-size: 16px; 
        line-height: 1.5;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .article--review {
       display: none; 
    } 

    .article--section p {
        grid-column: 1 / -1;
        text-align: justify;
        font-size: 18px; 
        line-height: 1.6;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {

    .articles--image, .articles--content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .article--image {
        grid-column: 1 / -1;
        width: 90vw;
        height: 400px;
        object-fit: cover;
        margin: 50px; 
        border-radius: 10px;
    }
    
    .articles--content > * {
        grid-column: 1/ -1;
        margin: auto 50px; 
    }
    
    .articles--content img {
        width: 86vw;
        height: 400px;
        object-fit: cover;
        margin: 30px auto;
        border-radius: 10px; 
    }

    .articles--content h1 {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .articles--content h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .article--section p {
        text-align: justify;
        font-size: 16px; 
        line-height: 1;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .article--review {
       display: none; 
    } 

}