.article--section {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px; 
    margin-top: 100px; 
}

.articles--image, .articles--content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 100px;
}

.article--image {
    grid-column: 4 / 10;
    width: 50vw;
    height: 100%;
    object-fit: cover;
}

.articles--content > * {
    grid-column: 4 / 10;
    text-align: left;
}

.articles--content img {
    width: 100%;
    height: auto;
    margin: 30px auto;
}

.article--section p {
    text-align: left; 
    line-height: 1.6;
    font-size: 21px;
}

.article--review, .user--interactions {
    align-self: end;
    justify-self: end;
    margin: 20px 0px;
    white-space: nowrap; 
} 

.user--interactions {
    gap: 50px; 
    margin-right: 20px;
    margin-top: 30px;
}

.articles--content h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.articles--content h2 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: left;
}

.articles--content h3, 
.articles--content h4, 
.articles--content h5, 
.articles--content h6 {
    font-size: 1.4rem;
    font-weight: 500;
}


.comments-header {
  text-align: center;
  margin: 20px 0;
}
  
.comments-header h3 {
  display: inline-block;
  margin: 50px 10px;
  color: #ff5800;
}
  
.comments-header hr {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 1025px) and (max-width: 1400px) {

    .articles--image, .articles--content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .article--image {
        grid-column: 1 / -1;
        width: 90vw;
        height: auto;
        object-fit: cover;
        margin: 50px; 
        border-radius: 10px;
    }
    
    .articles--content > * {
        grid-column: 1/ -1;
        margin: auto 50px; 
    }
    
    .articles--content img {
        width: 86vw;
        height: auto;
        object-fit: cover;
        margin: 30px auto;
    }

    .articles--content h1 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .articles--content h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .article--section p {
        text-align: left;
        font-size: 18px; 
        line-height: 1;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .article--review {
       display: none; 
    } 

}

@media (max-width: 1024px) {
    
    .comments-header {
        display: none;
        margin: 0; 
    }

    ol {
        margin-left: -20px; 
    }

    .articles--content a {
        color: #f7f7f7; 
    }

    .articles--content a:hover {
        color: #ff5800; 
    }


    .article--section {
        margin-bottom: 20px; 
        margin-top: 85px; 
    }

    .articles--image, .articles--content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .article--image {
        grid-column: 1 / -1;
        width: 90vw;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px; 
    }
    
    .articles--content > * {
        grid-column: 1 / -1;
        margin: auto 25px;  
    }
    
    .articles--content img {
        grid-column: 1 / -1;
        width: 85vw;
        height: auto;
        object-fit: cover;
        margin: 30px auto;
    }

    .articles--content h1 {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .articles--content h2 {
        font-size: 1.2rem;
        font-weight: normal;
    }
    
    .articles--content h3, 
    .articles--content h4, 
    .articles--content h5, 
    .articles--content h6 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .article--section p {
        text-align: left;
        font-size: 16px; 
        line-height: 1.5;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .article--review {
       display: none; 
    } 

    .user--interactions {
        margin-right: 26px;
        margin-top: 30px;
    }

    .article--section p {
        grid-column: 1 / -1;
        text-align: left;
        font-size: 16px; 
        line-height: 1.6;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .articles--content button {
        margin: 20px; 
        align-self: center;
        justify-self: center;
        color: #f7f7f7; 
        background-color: #010101;
        height: 50px;
        width: 150px;
        border-radius: 50px;
    }
}