.cards--container {
  display: flex;
  flex-direction: column; 
  /*overflow: hidden;*/  
  border-radius: 10px;
  background-color: hsla(0, 0, 75%, 10);
  /*background-color: #fcfcf7;*/
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5); 
  padding: 20px;
  margin: 0;
  max-width: 313px; 
  cursor: pointer;
  gap: 20px; 
}

.cards--container:hover {
  transform: scale(1.06);
}

.cards--container img {
  width: 273px;
  height: 202px;
  border-radius: 5px;
  object-fit: cover;
}

.cards--container h3 {
  font-size: 1.5rem;
  margin: 0;
  color: black; 
  text-wrap: balance;
} 

.cards--container p {
  text-align: start;
  /*margin-top: 0px;*/
  line-height: 1.6; 
  color: black;
}

.cards--container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: black;
  width: 150px;
  height: 47px;
  font-size: 1.5rem;
  margin-top: auto;
}

.cards--container a {
  text-decoration: none;
  color: #fcfcf7; 
  font-size: 1.5rem;
}

.cards--container a:hover {
  color: #FF5800; 
  transition: 0.3s ease-in-out;
}

@media (max-width: 932px) {

  .cards--container {
    width: 100%;
  }

  .cards--container button {
    display: flex;
    width: 100%;
  }
}
