.cards--container {
  background-color: hsla(0, 50%, 1%, 0);
  box-shadow: 5px 5px 5px hsla(0, 50%, 1%, 0);
  z-index: 10;
}

.cards--container:hover {
  transform: scale(1.06);
}

.cards--container button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-width: 100px;
  max-width: 900px;
  white-space: nowrap;
  font-size: 1.5rem;
  z-index: 10;
} 

.cards--container a {
  text-decoration: none;
  color: #fcfcf7; 
  font-size: 1.5rem;
}

.cards--container a:hover {
  color: #FF5800; 
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .cards--container button {
    display: none;
  } 
}
