.cards--container:hover {
  transform: scale(1.06);
}

.cards--container button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: transparent;
  min-width: 100px;
  max-width: 900px;
  white-space: nowrap;
  font-size: 1.5rem;
  margin-top: auto;
}

.cards--container a {
  text-decoration: none;
  color: black; 
  font-size: 1.5rem;
}

.cards--container a:hover {
  color: #FF5800; 
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .cards--container button {
    margin: 0;
    display: none;
  } 
}
