.comment--section {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    margin-top: 30px;
} 

.comment--section textarea {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2;
}

.comment--section #comment--section--button {
    grid-column: 12;
    grid-row: 3;
    align-self: end;
}


.comments--error--state {
    grid-row: 1; 
    grid-column: 1 / -1;
    color: red; 
    height: 20px;
    color: red; 
    width: 220px;
    font-size: 1.1rem; 
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px; 
    white-space: nowrap;
}

.comment--section--button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    width: 120px;
    height: 50px;
} 


@media (min-width: 667px) and (max-width: 1024px) {

    .comment--section textarea {
        grid-column: 1 / -1;
        margin-top: 20px;
        margin-bottom: 15px;
        max-width: 100%; 
        margin-left: auto; 
        margin-right: auto;
        font-size: 16px;
    }

    .comments--error--state {
        grid-row: 1; 
        grid-column: 1 / -1;
        color: red; 
        height: 20px;
        color: red; 
        width: 190px;
        font-size: 1rem; 
        text-align: left;
        margin-top: 10px;
        margin-bottom: -10px; 
        white-space: nowrap;
    }

    .comment--section--button {
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    } 
} 

@media (max-width: 915px) {

    .comment--section textarea {
        grid-column: 1 / -1;
        margin-top: 20px;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .comments--error--state {
        grid-row: 1; 
        grid-column: 1 / -1;
        color: red; 
        height: 20px;
        color: red; 
        width: 190px;
        font-size: 1rem; 
        text-align: left;
        margin-top: 10px;
        margin-bottom: -10px; 
        white-space: nowrap;
    }

    .comment--section--button {
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    } 
} 

