.comment--section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
} 

.comment--section textarea {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 50px;
}

.comment--section #comment--section--button {
    grid-column: 12;
    grid-row: 2;
    align-self: end;
    margin-bottom: 20px;
}


.comments--error--state, 
.comments--loading--state {
    color: #ff5800; 
}

.comment--section--button {
    border-radius: 5px;
    cursor: pointer;
} 


@media (max-width: 1024px) {
    .comment--section textarea {
        grid-column: 1 / -1;
        margin-top: 50px;
    }
} 

