.hero {
    background-image: url(../../public/herodesktop.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.hero--info {
    position: relative; 
    top: 40%; 
    padding: 0 2rem;
    color: #010101;
}

.hero--info h1, .hero--info h2 {
    margin: 0;
}

.hero--info h1 {
    font-weight: normal;
    font-size: 2rem;
}

.hero--info h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #010101;
}

button {
    margin-top: 15px;
    text-align: center;
    border-radius: 50px;
    background-color: black;
    color: #f7f7f7;
    width: 200px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button a {
    text-decoration: none;
    color: #f7f7f7; 
    font-size: 1rem;
}

button a:hover {
    color: #FF5800; 
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .hero {
        background-image: url(../../public/heromobile.webp);
        width: 100vw;
        height: 100vh;
    } 

    .hero--info {
        top: 92%; 
        display: flex;
        flex-direction: column;
        font-size: 0.78rem;
        padding: 1rem .4rem; 
    }

    .hero--info h2 {
        color: #010101;
        margin-bottom: 30px;
        font-size: 3.5rem;
    }

    .hero--info h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        margin: 1rem 0;
    }

    button {
        align-self: center;
        height: 65px;
        width: 250px;
        font-size: 2rem;
        margin: 0;
    }
  }

@media (min-width: 746px) and (max-width: 912px) {

    .hero--info {
        top: 88%; 
        display: flex;
        flex-direction: column;
        font-size: 0.78rem;
        padding: 1rem .4rem; 
    }

    .hero--info h2 {
        color: #010101;
        margin-bottom: 30px;
        font-size: 3.5rem;
    }

    .hero--info h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        margin: 1rem 0;
    }

    button {
        align-self: center;
        height: 65px;
        width: 250px;
        font-size: 2rem;
        margin: 0;
    }

} 

@media (max-width: 430px) {

    .hero--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.78rem;
        padding: 1rem 1rem;
        top: 90.5%; 
    }

    .hero--info h2 {
        color: #f7f7f7;
        margin-bottom: 20px;
        font-size: 2.7rem;
    }

    .hero--info h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin: 1rem 1.3rem;
    }

    button {
        align-self: center;
        height: 55px;
        width: 200px;
        font-size: 2rem;
        margin: 0;
    }
}

@media (max-width: 414px) {

    .hero--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.78rem;
        padding: 1rem 1rem;
        top: 90%; 
    }

    .hero--info h2 {
        color: #f7f7f7;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    .hero--info h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin: 1rem 1rem;
    }

}

@media (max-width: 390px) {

    .hero--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.78rem;
        padding: 1rem 1rem;
        top: 90%; 
    }

    .hero--info h2 {
        color: #f7f7f7;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    .hero--info h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin: .8rem .2rem;
    }

}

@media (max-width: 375px) {

    .hero--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.78rem;
        padding: 1rem 1rem;
        top: 89%; 
    }

    .hero--info h2 {
        color: #f7f7f7;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    .hero--info h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: 5px 0.1px;
    }

}

@media (max-width: 360px) {

    .hero--info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.78rem;
        padding: 1rem .4rem;
        top: 90%; 
    }

    .hero--info h2 {
        color: #f7f7f7;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    .hero--info h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin: .8rem 0;
    }

}