.catégorie--home--section {
  display: flex;
  position: relative; 
  flex-wrap: wrap;
  min-height: auto;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 920px;
} 

.posts--section {
  margin-top: 80px;
} 

@media (min-width: 1024px) and (max-width: 1440px) {
  .catégorie--home--section  {
    margin-top: 795px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 1000px) {
  .posts--section {
    margin-top: 630px;
    gap: 20px; 
  }
}

@media screen and (max-width: 820px) {
  .posts--section {
    margin-top: 400px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 768px) {
  .posts--section {
    margin-top: 270px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 430px) {
  .posts--section {
    margin-top: 125px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 414px) {
  .posts--section {
    margin-top: 90px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 390px) {
  .posts--section {
    margin-top: 5px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 375px) {
  .posts--section {
    margin-top: -205px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 360px) {
  .posts--section {
    margin-top: -120px;
    gap: 20px; 
  }
} 