.catégorie--home--section {
  display: flex;
  position: relative; 
  flex-wrap: wrap;
  min-height: auto;
  justify-content: space-around;
  flex-direction: row;
  margin: 25px;
} 

@media (min-width: 1024px) and (max-width: 1440px) {
  .catégorie--home--section  {
    margin-top: 25px;
    gap: 20px; 
  }
} 

@media screen and (max-width: 768px) {
  .posts--section {
    margin-top: 45px;
    gap: 20px; 
  }
} 