.posts--container {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 40px;
   margin: 70px auto; 
   padding-left: 55px;
}

.posts {
   border-radius: 15px;
   display: flex; 
   justify-content: space-between;
   flex-direction: column;
   width: 20em; 
}

.posts--info {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 0;
}

.posts--image {
   border-radius: 5px;
   box-sizing: border-box;
   width: 20em;
   height: 20em;
   object-fit: cover;
}

.posts--cat {
   font-weight: 300;
   font-style: italic;
}

.posts h2 {
   font-size: 1.2rem;
   font-weight: 700;
   margin: 0;
   margin-top: 10px;
   margin-bottom: 10px;
}

.posts p {
   margin: 0;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 1.6;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.posts--description {
   border-top: 0px;
   flex-grow: 1; 
   margin-bottom: 15px; 
   text-align: justify;
}

.posts--description span {
   border-radius: 5px;
   color:  #ff5800; 
}

.posts--button {
   margin-top: auto;
   margin-bottom: 20px;
   width: 150px;
   border-radius: 5px;
}

.loading--state, .error--state{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto; 
   width: 100vw;
   height: 100vh;
   color:  #ff5800;
   font-size: 2.5rem;
} 

@media (max-width: 1024px) {
   .posts--container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px;  
   }

   .loading--state, .error--state{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto; 
      width: 100vw;
      height: 100vh;
      color:  #ff5800;
      font-size: 1.5rem;
   } 

   .posts button {
     width: 100%; 
     font-size: 1.5rem;
     padding-left: 10px;
   }
}

@media (min-width: 916px) {
   .loading--state, .error--state {
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh; 
   }

   /*.posts h2 {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
   } */
   
   .posts--description {
      border-top: 0px;
      flex-grow: 1; 
      margin-bottom: 15px; 
   }
}

@media (min-width: 667px) and (max-width: 915px) {
      
  .posts p {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1.6;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }

   .description {
      line-height: 1.6;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
}