.posts--container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); 
   gap: 20px; 
   margin-bottom: 150px; 
   padding-left: 55px;
   align-items: start; 
}

.posts--container--cat {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); 
   gap: 20px; 
   margin-bottom: 150px; 
   padding-left: 55px;
   align-items: start; 
   margin-top: 100px; 
}

.article--section--desktop {
   margin-top: 150px; 
}

.posts {
   border-radius: 15px;
   display: flex; 
   flex-direction: column;
   justify-content: space-between;
   width: 20em;
}

.posts a > .posts--description{
   font-weight: 400 !important;
   font-size: 1rem;
}

.posts a:hover > .posts--description {
   color: #ff5800;
}

.posts--info {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-between;
   margin: 0;
}

.posts h2, .posts h3 {
   font-size: 1.2rem;
   font-weight: 500;
   margin: 0;
   margin-top: 10px;
   margin-bottom: 10px;
}

.article--date {
   font-weight: 400;
   border-left: 5px solid #ff5800;
   padding: 5px;
}

.posts--image {
   border-radius: 5px;
   box-sizing: border-box;
   width: 20em;
   height: 20em;
   object-fit: cover;
   margin-bottom: 10px;
}

.posts--cat {
   font-weight: 400;
   border-left: 5px solid #ff5800;
   padding: 5px;
}

.posts--cat span {
   font-style: normal;
   font-weight: 200;
}

.posts p {
   margin: 0;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 1.6;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.posts--description {
   border-top: 0px;
   flex-grow: 1; 
   margin-bottom: 15px; 
   text-align: justify;
}

.posts--description span {
   color:  #ff5800;
}

.posts--button {
   margin-top: auto;
   margin-bottom: 20px;
   width: 150px;
   border-radius: 5px;
}

.loading--state {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto; 
   max-width: 100vw;
   max-height: 100vh;
} 

.article--loading {
   margin: 0;
   height: 100px;
   width: 100px;
   border: 5px solid;
   border-color: #ff5800 #ff5800 transparent;
   border-radius: 50%;
   animation: spin 1.5s ease infinite;
}

@keyframes spin {
   to {
      transform: rotate(360deg);
   }
}

.loading--state, .error--state{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto; 
   width: 100vw;
   height: 100vh;
   color:  #ff5800;
   font-size: 2.5rem;
}

@media (max-width: 767px) {

   .posts--container {
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
   }

   .posts--container--cat {
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-top: 150px; 
      margin-bottom: 150px; 
   }

   .posts {
      margin-bottom: 10px;
   } 

}

